.build/
.swiftpm/
DerivedData/
outputs/
dist/
build/
node_modules/
.DS_Store
.env
.env.*
*.log
*.tmp
*.temp
*.xcuserdata/
*.xcscmblueprint
*.xcresult/
*.moved-aside
*.swp
*.bak
*.aislide.tmp
*.dmg
*.zip
*.app/
